

.lists_company_members{
	.item{
		.picture{
			img{}
		}
		.info{ 
			span{
				font-style: normal;
				font-weight: 600;
				font-size: 18px;
				line-height: 132%;

				text-align: center;
				color: #333333;
			}
		}
		margin-bottom: 2rem;
	}
	clear: both;
}